*, *:after, *:before {
  margin: 0;
  padding: 0;
}

.apple-arrow-right {
  border: solid rgb(136, 136, 141);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.apple-button {
  font-weight: 600;
  border-radius: 8px;
  background: white;
  outline: none;
  width: 220px;
  padding: 10px 16px;
  font-size: 18px;
  border: none;
  position: relative;
  z-index: 1;
  text-align: center;
  color: black;
  text-decoration: none;
}

.apple-button:hover {
  text-decoration: none;
  color: black;
}

.apple-blur {
  display: block;
  -webkit-backdrop-filter: saturate(190%) blur(60px);
          backdrop-filter: saturate(190%) blur(60px);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(3.3%, rgba(0, 0, 0, 0.068)), color-stop(5.9%, rgba(0, 0, 0, 0.145)), color-stop(8.1%, rgba(0, 0, 0, 0.227)), color-stop(10.1%, rgba(0, 0, 0, 0.313)), color-stop(12.1%, rgba(0, 0, 0, 0.401)), color-stop(14.6%, rgba(0, 0, 0, 0.49)), color-stop(17.7%, rgba(0, 0, 0, 0.578)), color-stop(21.8%, rgba(0, 0, 0, 0.661)), color-stop(27.1%, rgba(0, 0, 0, 0.74)), color-stop(33.9%, rgba(0, 0, 0, 0.812)), color-stop(42.4%, rgba(0, 0, 0, 0.875)), color-stop(53%, rgba(0, 0, 0, 0.927)), color-stop(66%, rgba(0, 0, 0, 0.966)), color-stop(81.5%, rgba(0, 0, 0, 0.991)), to(rgba(0, 0, 0, 0.991)));
  -webkit-mask-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.068) 3.3%, rgba(0, 0, 0, 0.145) 5.9%, rgba(0, 0, 0, 0.227) 8.1%, rgba(0, 0, 0, 0.313) 10.1%, rgba(0, 0, 0, 0.401) 12.1%, rgba(0, 0, 0, 0.49) 14.6%, rgba(0, 0, 0, 0.578) 17.7%, rgba(0, 0, 0, 0.661) 21.8%, rgba(0, 0, 0, 0.74) 27.1%, rgba(0, 0, 0, 0.812) 33.9%, rgba(0, 0, 0, 0.875) 42.4%, rgba(0, 0, 0, 0.927) 53%, rgba(0, 0, 0, 0.966) 66%, rgba(0, 0, 0, 0.991) 81.5%, rgba(0, 0, 0, 0.991) 100%);
  mask-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(3.3%, rgba(0, 0, 0, 0.068)), color-stop(5.9%, rgba(0, 0, 0, 0.145)), color-stop(8.1%, rgba(0, 0, 0, 0.227)), color-stop(10.1%, rgba(0, 0, 0, 0.313)), color-stop(12.1%, rgba(0, 0, 0, 0.401)), color-stop(14.6%, rgba(0, 0, 0, 0.49)), color-stop(17.7%, rgba(0, 0, 0, 0.578)), color-stop(21.8%, rgba(0, 0, 0, 0.661)), color-stop(27.1%, rgba(0, 0, 0, 0.74)), color-stop(33.9%, rgba(0, 0, 0, 0.812)), color-stop(42.4%, rgba(0, 0, 0, 0.875)), color-stop(53%, rgba(0, 0, 0, 0.927)), color-stop(66%, rgba(0, 0, 0, 0.966)), color-stop(81.5%, rgba(0, 0, 0, 0.991)), to(rgba(0, 0, 0, 0.991)));
  mask-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.068) 3.3%, rgba(0, 0, 0, 0.145) 5.9%, rgba(0, 0, 0, 0.227) 8.1%, rgba(0, 0, 0, 0.313) 10.1%, rgba(0, 0, 0, 0.401) 12.1%, rgba(0, 0, 0, 0.49) 14.6%, rgba(0, 0, 0, 0.578) 17.7%, rgba(0, 0, 0, 0.661) 21.8%, rgba(0, 0, 0, 0.74) 27.1%, rgba(0, 0, 0, 0.812) 33.9%, rgba(0, 0, 0, 0.875) 42.4%, rgba(0, 0, 0, 0.927) 53%, rgba(0, 0, 0, 0.966) 66%, rgba(0, 0, 0, 0.991) 81.5%, rgba(0, 0, 0, 0.991) 100%);
}

.apple-blur2 {
  display: block;
  -webkit-backdrop-filter: saturate(190%) blur(60px);
          backdrop-filter: saturate(190%) blur(60px);
  position: absolute;
  background-color: rgba(40, 40, 40, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(3.3%, rgba(0, 0, 0, 0.068)), color-stop(5.9%, rgba(0, 0, 0, 0.145)), color-stop(8.1%, rgba(0, 0, 0, 0.227)), color-stop(10.1%, rgba(0, 0, 0, 0.313)), color-stop(12.1%, rgba(0, 0, 0, 0.401)), color-stop(14.6%, rgba(0, 0, 0, 0.49)), color-stop(17.7%, rgba(0, 0, 0, 0.578)), color-stop(21.8%, rgba(0, 0, 0, 0.661)), color-stop(27.1%, rgba(0, 0, 0, 0.74)), color-stop(33.9%, rgba(0, 0, 0, 0.812)), color-stop(42.4%, rgba(0, 0, 0, 0.875)), color-stop(53%, rgba(0, 0, 0, 0.927)), color-stop(66%, rgba(0, 0, 0, 0.966)), color-stop(81.5%, rgba(0, 0, 0, 0.991)), to(rgba(0, 0, 0, 0.991)));
  -webkit-mask-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.068) 3.3%, rgba(0, 0, 0, 0.145) 5.9%, rgba(0, 0, 0, 0.227) 8.1%, rgba(0, 0, 0, 0.313) 10.1%, rgba(0, 0, 0, 0.401) 12.1%, rgba(0, 0, 0, 0.49) 14.6%, rgba(0, 0, 0, 0.578) 17.7%, rgba(0, 0, 0, 0.661) 21.8%, rgba(0, 0, 0, 0.74) 27.1%, rgba(0, 0, 0, 0.812) 33.9%, rgba(0, 0, 0, 0.875) 42.4%, rgba(0, 0, 0, 0.927) 53%, rgba(0, 0, 0, 0.966) 66%, rgba(0, 0, 0, 0.991) 81.5%, rgba(0, 0, 0, 0.991) 100%);
  mask-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(3.3%, rgba(0, 0, 0, 0.068)), color-stop(5.9%, rgba(0, 0, 0, 0.145)), color-stop(8.1%, rgba(0, 0, 0, 0.227)), color-stop(10.1%, rgba(0, 0, 0, 0.313)), color-stop(12.1%, rgba(0, 0, 0, 0.401)), color-stop(14.6%, rgba(0, 0, 0, 0.49)), color-stop(17.7%, rgba(0, 0, 0, 0.578)), color-stop(21.8%, rgba(0, 0, 0, 0.661)), color-stop(27.1%, rgba(0, 0, 0, 0.74)), color-stop(33.9%, rgba(0, 0, 0, 0.812)), color-stop(42.4%, rgba(0, 0, 0, 0.875)), color-stop(53%, rgba(0, 0, 0, 0.927)), color-stop(66%, rgba(0, 0, 0, 0.966)), color-stop(81.5%, rgba(0, 0, 0, 0.991)), to(rgba(0, 0, 0, 0.991)));
  mask-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.068) 3.3%, rgba(0, 0, 0, 0.145) 5.9%, rgba(0, 0, 0, 0.227) 8.1%, rgba(0, 0, 0, 0.313) 10.1%, rgba(0, 0, 0, 0.401) 12.1%, rgba(0, 0, 0, 0.49) 14.6%, rgba(0, 0, 0, 0.578) 17.7%, rgba(0, 0, 0, 0.661) 21.8%, rgba(0, 0, 0, 0.74) 27.1%, rgba(0, 0, 0, 0.812) 33.9%, rgba(0, 0, 0, 0.875) 42.4%, rgba(0, 0, 0, 0.927) 53%, rgba(0, 0, 0, 0.966) 66%, rgba(0, 0, 0, 0.991) 81.5%, rgba(0, 0, 0, 0.991) 100%);
}

.apple-bg {
  background: rgb(251, 251, 253);
}

.apple-heading {
  font-size: 24px;
  font-weight: 700;
  padding-left: 25px;
  padding-right: 25px;
}

.apple-subtitle {
  font-size: 20px;
  padding-left: 25px;
  padding-right: 25px;
  color: rgb(143, 140, 146);
}

.apple-about {
  background: #f0f0f3;
  padding: 25px;
}

.apple-text-small {
  font-size: 16px;
  color: white;
}

.apple-cat {
  color: rgb(134, 133, 138);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.apple-title {
  font-size: 18px;
  color: black;
  font-weight: 600;
}

.apple-content {
  font-size: 16px;
  color: rgb(136, 135, 141);
  max-height: 75px;
  overflow: hidden;
}

.apple-metadata {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.apple-metadata span {
  color: rgba(0, 0, 0, 0.56);
  margin-right: 10px;
}

.apple-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-bottom: 30px;
}
.apple-box li {
  margin-top: 15px;
  margin-right: 3%;
  width: 30%;
  background-color: white;
  padding: 14px 16px;
  border-radius: 12px;
  overflow: hidden;
  max-height: 140px;
}

.apple-information dt {
  margin: 0;
  margin-top: 15px;
}
.apple-information dt {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 500;
}
.apple-information dd {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.56);
}

.apple-headline {
  font-size: 16px;
  font-weight: 700;
}

.apple-headsub {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.apple-text {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

.apple-divider {
  margin: 0 auto;
  width: calc(100% - 50px);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
}

.apple-list-horizontal {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 20px 0;
}
.apple-list-horizontal .apple-card-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  overflow: auto hidden;
  scroll-behavior: smooth;
  overscroll-behavior-x: none;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  padding: 0 25px;
}
.apple-list-horizontal .apple-card-circle li {
  list-style: none;
  margin-right: 3%;
  padding: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.apple-list-horizontal .apple-card-circle li a {
  text-decoration: none;
  display: block;
  text-align: center;
}
.apple-list-horizontal .apple-card-circle li img {
  width: 140px;
  height: 140px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.apple-list-horizontal .apple-card-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  overflow: auto hidden;
  scroll-behavior: smooth;
  overscroll-behavior-x: none;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  padding: 0px 25px;
}
.apple-list-horizontal .apple-card-image a {
  display: block;
  margin-bottom: 10px;
}
.apple-list-horizontal .apple-card-image.large li {
  min-width: 350px;
}
.apple-list-horizontal .apple-card-image li {
  list-style: none;
  min-width: 300px;
  margin-right: 3%;
  padding: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
.apple-list-horizontal .apple-card-image img {
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.apple-introbroad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background: black;
  padding-bottom: 40px;
}
.apple-introbroad .group-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.apple-introbroad .group-image .image {
  width: 33.3333333333%;
  height: 20vw;
}
.apple-introbroad .group-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.apple-introbroad .group-introbroad {
  text-align: center;
  margin-top: -80px;
  position: relative;
  z-index: 8;
  z-index: 1;
}
.apple-introbroad .group-introbroad .broad-logo {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 34px;
  padding: 10px 0;
}
.apple-introbroad .group-introbroad .broad-des {
  position: relative;
  z-index: 1;
  font-size: 28px;
  color: white;
}
.apple-introbroad .group-introbroad .broad-subtitle {
  position: relative;
  z-index: 1;
  color: rgba(255, 255, 255, 0.64);
  font-size: 26px;
  padding: 10px 0;
}
.apple-introbroad .group-introbroad .apple-text-small {
  position: relative;
  z-index: 1;
  font-size: 26px;
  margin-top: 10px;
}

.apple-details-movie {
  position: relative;
}
.apple-details-movie .intro-header img {
  width: 100%;
}
.apple-details-movie .intro-contents {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 25px;
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.apple-details-movie .intro-contents img {
  width: 100%;
}
.apple-details-movie .intro-contents .entry-cat {
  position: relative;
  z-index: 1;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  margin: 10px 0;
}
.apple-details-movie .intro-contents .title-image {
  max-width: 240px;
  max-height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}
.apple-details-movie .intro-contents .entry-title {
  position: relative;
  z-index: 1;
}
.apple-details-movie .intro-contents .entry-contents {
  max-width: 750px;
  margin: 0 auto;
  margin-top: 15px;
  position: relative;
  z-index: 1;
  color: rgba(255, 255, 255, 0.8);
}

.apple-modal-open {
  border: none;
  outline: none;
  color: #007aff;
  background: none;
  line-height: 1;
  font-weight: 600;
}

.apple-modal button.close {
  width: 15px;
  height: 15px;
  fill: rgb(60, 60, 67);
  position: absolute;
  top: 18px;
  left: 18px;
  font-weight: bold;
}
.apple-modal .apple-wrapper {
  padding: 30px;
  padding-top: 50px;
}
.apple-modal .apple-subtitle {
  padding: 0;
  color: rgba(0, 0, 0, 0.56);
  font-size: 12px;
}
.apple-modal .apple-text {
  color: rgba(0, 0, 0, 0.88);
  margin-top: 15px;
}

.mb15 {
  margin-bottom: 15px;
}

.form-container {
  background: #f1f1f1;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-container h1 {
  text-align: center;
  font-size: 24px;
}

.apple-form {
  background: white;
  margin: 15px auto;
  max-width: 320px;
  padding: 30px 0 0;
  -webkit-box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.apple-form .form-designer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 15px;
}
.apple-form .group {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.apple-form input {
  font-size: 14px;
  padding: 8px 10px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
}
.apple-form label {
  width: 100px;
  font-size: 14px;
  color: #696687;
}
.apple-form .link-forgot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #4d61fc;
  margin-left: auto;
  opacity: 0.8;
  text-decoration: none;
}
.apple-form button {
  border-radius: 6px;
  background: #4d61fc;
  display: block;
  padding: 10px 25px;
  width: 200px;
  margin: 15px auto 0;
  color: white;
  font-size: 16px;
  outline: none;
  border: none;
  font-weight: 600;
}

.apple-search h1 {
  padding: 15px;
}
.apple-search .apple-search-input {
  width: 100%;
  padding: 0 15px;
}
.apple-search .apple-search-input input {
  width: 100%;
  border: 1px solid #e1e1e1;
  font-size: 14px;
  padding: 8px 10px;
  outline: none;
  border-radius: 4px;
}
.apple-search .apple-heading {
  padding: 15px;
}
.apple-search .apple-group-card {
  padding: 0 15px;
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-columns: auto 15px auto 15px auto;
  grid-template-columns: auto auto auto;
  margin-bottom: 15px;
}
.apple-search .apple-group-card a {
  height: 16vw;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
.apple-search .apple-group-card a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%), to(rgb(0, 0, 0)));
  background: linear-gradient(180deg, transparent, 50%, rgb(0, 0, 0) 100%);
}
.apple-search .apple-group-card a .text {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  z-index: 1;
  padding: 15px;
}
.apple-search .apple-group-card a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .apple-list-horizontal .apple-card-image li {
    min-width: 200px;
  }
  .apple-list-horizontal .apple-card-image.large li {
    min-width: 250px;
  }
  .apple-list-horizontal .apple-card-circle li img {
    width: 100px;
    height: 100px;
  }
  .apple-list-horizontal .apple-card-circle li .apple-title {
    font-size: 16px;
  }
  .apple-list-horizontal .apple-card-circle li .apple-cat {
    font-size: 14px;
  }
  .apple-introbroad .group-introbroad .broad-logo {
    font-size: 24px;
  }
  .apple-introbroad .group-introbroad .broad-des {
    font-size: 18px;
  }
  .apple-introbroad .group-introbroad .broad-subtitle {
    font-size: 16px;
  }
  .apple-introbroad .group-introbroad .apple-button {
    font-size: 18px;
  }
  .apple-introbroad .group-introbroad .apple-text-small {
    font-size: 16px;
  }
  .apple-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .apple-box li {
    width: 100%;
    max-height: 100% !important;
  }
  .apple-search .apple-group-card {
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
  }
  .apple-search .apple-group-card a {
    height: 25vw;
  }
}